/.env
/.newenv
/.windsurf
.DS_Store
.idea/
pgdata/
*.pyc
logs/nginx/
logs/gunicorn/
backend/media/
backend/static/
backend/backend.log
backend/mysite.log
frontend/node_modules/
frontend/dist/
/backend/firebase_settings.py
/notifications/fb.json

!/notifications/Cargo.lock
/notifications/dst/
